@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 1em Arial, sans-serif;
    text-align: center;
}

header {
    margin-top: 50px;
}
header > p {
    padding: 16px 0px;
}

div > button.btn {
    margin: 15px 10px;
    padding: 8px 22px;
}
div > button.btn:hover {
    background-color: gray;
    color: white;
}

footer {
    margin-top: 25px;
    font-size: 1.4em;
    font-style: italic;
}