@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 1em Arial, sans-serif;
    background-color: #acacac;
}

header#cabecalho {
    background-color: #777777;
    width: 100%;
    height: 110px;
}

header#cabecalho input {
    width: 80px;
}

header#cabecalho div.elementos {
    text-align: center;
    padding: 8px;
}

button#btn {
    display: block;
    margin: auto;
    padding: 8px 20px;
    border-radius: 6px;
    border-style: none;
}
button#btn:hover {
    background-color: #919191;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

div#container {
    background-color: #808080;
    margin: 25px auto;
    padding: 20px;
    width: 600px;
    height: 420px;
    border-radius: 15px;
}
div#container > h1 {
    font-size: 32px;
    text-align: center;
    padding: 5px;
}
div#container > h2 {
    padding: 5px;
    font-size: 20px;
}
div#container p {
    text-indent: 30px;
    text-align: justify;
    padding: 2px 0px;
    line-height: 1.2em;
}
footer.corJuncao {
    margin: 10px 28%;
    font-style: italic;
    font-weight: bolder;
}