:root {
    --cor1: #41D9D9;
    --cor2: #00D9D9;
    --cor3: #309F9F;
    --cor4: #008B8B;
    --cor5: #005959;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor1);
}

main {
    background-color: var(--cor3);
    color: white;
    margin: 30px auto;
    width: 600px;
    height: 550px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.596);
}
main > form {
    padding: 25px;
}
main > form > h1 {
    text-align: center;
}